.friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Days One", sans-serif;
  gap: 20px;
}

.QAQ {
  font-size: 5rem;
  color: white;
}

.updateButton {
  margin: 30px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  /* transition: color 0.3s, background-color 0.3s; */
}

.updateButton > button {
  padding: 20px;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background-color: #277ff2;
  cursor: pointer;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -5%) scale(0.8, 0.8);
}

/* .updateButton:hover {
  color: #277ff2;
  background-color: #fff;
} */
